  <!DOCTYPE html>
  <html >
    <head>
    <title>User Registration Angular App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
    <body>
    
   
    <header>
      <h2>User Registration </h2>
    </header>
    
    <section>
      <nav>
        <h1> {{currentOperation}} User</h1>
      <form #addForm="ngForm" (ngSubmit)="addOrUpdateUser(addForm)">
        <div>
           <label for="firstname">First Name:</label>
           <input type="text" ngModel  name="firstName" id="firstname"  required>
           <input type="hidden" ngModel name="id"  id="id" >
        </div>
        <div>
           <label for="lastname">Last Name:</label>
           <input type="text" ngModel name="lastName" id="lastname"  required>
        </div>
        <div >
           <label class="email" for="email">Email:</label>
           <input type="text" ngModel name="email" id="email" required>
        </div>
         <div>
           <button [disabled]="addForm.invalid"  itemtype="submit"  >Save changes</button>
        </div>
        </form>
      </nav>
      
      <article>
        <h1> Users Registered</h1>
        <table>
          <tr>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Email</th>
           <th>Action</th>
       
         </tr>
       
         <tr *ngFor="let user of users">
           <td>{{user.firstName}} </td>
           <td>{{user.lastName}} </td>
           <td>{{user.email}} </td>
           <td> <button (click)="setUserToUpdate(addForm,user)"  >Update</button> 
             <button (click)="deleteUser(user)"  >Delete</button>  
           </td>
         </tr>
       
       </table>
      </article>
    </section>
    
    
    </body>
    </html>
    
    